.mwe-popups-type-reference .mwe-popups-title {
	margin-top: @popupPadding;

	.mw-ui-icon {
		vertical-align: middle;

		&.mw-ui-icon-element {
			min-width: @iconSize;
			width: @iconSize;

			&:before {
				margin: 0;
			}
		}

		&.mw-ui-icon-preview-reference {
			/* align narrow icon with the text */
			margin-left: -2px;
		}
	}
}
