.mwe-popups-overlay {
	background-color: rgba( 255, 255, 255, 0.9 );
	z-index: 999;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	// flexbox to vertically/horizontally center children
	display: flex;
	justify-content: center;
	align-items: center;
}
