/* Code adapted from Yair Rand's NavPopupsRestyled.js
 * https://en.wikipedia.org/wiki/User:Yair_rand/NavPopupsRestyled.js
 */

.mwe-popups {
	position: absolute;
	z-index: 5;
	background: #fff;
	border: 1px solid #bbb;
	padding: 0;
	display: none;
	font-size: 0.8em;
	line-height: 1.5em;
	cursor: pointer;
	min-width: 300px;

	> a {
		display: block;
		margin-top: -9px;
		padding-top: 9px;
		color: #000;

		&:hover {
			text-decoration: none;
		}

		> div {
			padding: 1.28em;
			padding-bottom: 3.84em;

			h3 {
				margin-top: 0;
				padding: 0;
				font-family: Georgia, Times, serif;
				font-style: normal;
			}

			> div.mwe-popups-redirect {
				color: #c9c9c9;
				font-style: italic;
				margin-bottom: 3px;
			}
		}

		> div.mwe-popups-is-tall{
			float: right;
			height: 250px;
			width: 200px;
			padding: 0;
			background-size: cover;
			background-repeat: no-repeat;
			overflow: hidden;

			img {
				min-height: 100%;
				min-width: 100%;
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0);
				opacity: 0
			}
		}

		> img.mwe-popups-is-not-tall{
			width: 300px;
			float: initial;
		}

		> div.mwe-popups-timestamp-older, div.mwe-popups-timestamp-recent{
			padding: 1.28em;
			margin: 0;
			font-size: 0.85em;
			position: absolute;
			bottom: 0;
		}

		> div.mwe-popups-timestamp-older{
			color: #555;
		}

		> div.mwe-popups-timestamp-recent{
			color: #00af89;
		}
	}

	&.mwe-popups-is-tall {
		width: 450px;

		.mwe-popups-extract {
			float: left;
			width: 215px;
			height: 125px;
			overflow: hidden;
		}
	}

	&.mwe-popups-is-not-tall{
		width: 300px;

		.mwe-popups-extract {
			max-height: 120px;
			overflow: hidden;
			margin-bottom: 3.84em;
			padding-bottom: 1.28em;
		}
	}
}
