<div class="mwe-popups mwe-popups-type-{{type}}" role="tooltip" aria-hidden>
  <div class="mwe-popups-container">
    <div class="mw-ui-icon mw-ui-icon-element mw-ui-icon-large mw-ui-icon-preview-{{type}}"></div>
      {{#showTitle}}
        <strong class="mwe-popups-title">{{title}}</strong>
      {{/showTitle}}
      <a href="{{url}}" class="mwe-popups-extract">
        {{extractMsg}}
      </a>
    <footer>
      <a href="{{url}}" class="mwe-popups-read-link">{{linkMsg}}</a>
    </footer>
  </div>
</div>
