<div class="mwe-popups mwe-popups-is-empty" role="tooltip" aria-hidden>
  <div class="mwe-popups-container">
    <div class="mwe-popups-sade-face-icon"></div>
    <a href="{{url}}" class="mwe-popups-extract">{{extractMsg}}</a>
    <footer>

      {{! If the preview "is empty", i.e. a preview can't be generated, then we
          show a link to the page to make it clear that the preview can be
          clicked. }}
      <a href="{{url}}" class="mwe-popups-read-link">{{readMsg}}</a>
    </footer>
  </div>
</div>
