{{! Extracted from `mw.popups.render.createPopupElement` }}
<div class="mwe-popups" role="tooltip" aria-hidden>
  <div>
    {{#hasThumbnail}}
    <a href="{{href}}" class="mwe-popups-discreet"><!-- thumbnail injected post render --></a>
    {{/hasThumbnail}}
    <a dir="{{langdir}}" lang="{{langcode}}" class="mwe-popups-extract" href="{{href}}"><!-- extract will be appended here --></a>
    <footer>
        <span
          class="{{#isRecent}}mwe-popups-timestamp-recent{{/isRecent}}{{^isRecent}}mwe-popups-timestamp-older{{/isRecent}}">{{lastModified}}</span>
        <a class="mwe-popups-icon mwe-popups-settings-icon"></a>
    </footer>
  </div>
</div>
