@import '../../../ui/variables';

.mwe-popups {
  .mwe-popups-container {
	&.mwe-popups-fandom {
	  footer {
		position: relative;

		.mwe-popups-settings-icon {
		  position: absolute;
		  right: 0;
		}
	  }
	}

	.mwe-popups-header {
	  margin: @popupPadding;
	  font-weight: bold;
	}

	.mwe-popups-buttons-section {
	  text-align: center;
	  margin: 10px;
	}
  }

  &.mwe-popups-is-tall {
	.mwe-popups-buttons-section {
	  width: @popupTallWidth;
	}
  }
}
